<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/dashboard/jury/evaluations">Mes évaluations</ion-item>
        <ion-item (click)="logout()">Déconnexion</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard Jury</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <h2>Bienvenue Jury</h2>
      <p>Accédez à vos évaluations ici.</p>
    </ion-content>
  </div>
</ion-app>
